.footer {
  padding-top: calc(var(--mantine-spacing-xl) * 1);
  padding-bottom: calc(var(--mantine-spacing-xl) * 1);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}
