.icon:hover {
  cursor: pointer;
}

.fillableIcon:hover {
  cursor: pointer;
  fill: var(--mantine-color-gray-4);
}

.row:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.text:hover {
  cursor: pointer;
  text-decoration: underline;
}
